.c-white {
    color: white;
}

.c-main {
    color: #151535;
}

.c-green {
    color: #1EC084;
}

.c-gray {
    color: #CCCCCC;
}

.c-black {
    color: #232933;
}

.bg-main {
    background: #F6F7F9;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none
}

/* 指正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}

/*指已经访问过的链接*/
a:visited {
    text-decoration: none;
}

/*指鼠标在链接*/
a:hover {
    text-decoration: none;
}

/* 指正在点的链接*/
a:active {
    text-decoration: none;
}

[type='password'], [type='text'], select, textarea, button {
    border: none;
}

input, select {
    border: none;
    outline: none;
    padding: 0;
}

div, a, img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.oneLine {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.twoLine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.con-main {
    width: 100%;
    height: 100%;
}

.btn-main {
    color: white;
    font-size: 16px;
    height: 1.17rem;
    line-height: 1.17rem;
    text-align: center;
    margin: 0 1.07rem;
    /*background: #1EC084;*/
    /*box-shadow: 0 5px 10px 0 rgba(21,21,53,0.30);*/
    border-radius: 0.59rem;
    background-image: linear-gradient(-58deg, #00C1B9 15%, #02E093 100%);
    box-shadow: 0 5px 10px 0 rgba(61,204,113,0.30);
}

.btn-white {
    color: #232933;
    font-size: 16px;
    height: 1.17rem;
    line-height: 1.17rem;
    text-align: center;
    margin: 0 1.07rem;
    background: white;
    box-shadow: 0 5px 10px 0 rgba(204,204,204,0.30);
    border-radius: .59rem;
}

.btn-gray {
    color: white;
    font-size: 16px;
    height: 1.17rem;
    line-height: 1.17rem;
    text-align: center;
    margin: 0 1.07rem;
    background: #D8D8D8;
    box-shadow: 0 5px 10px 0 rgba(204,204,204,0.30);
    border-radius: .59rem;
}

[data-dpr="2"] .btn-main {
    font-size: 32px;
}
[data-dpr="3"] .btn-main {
    font-size: 48px;
}
[data-dpr="2"] .btn-white {
    font-size: 32px;
}
[data-dpr="3"] .btn-white {
    font-size: 48px;
}
[data-dpr="2"] .btn-gray {
    font-size: 32px;
}
[data-dpr="3"] .btn-gray {
    font-size: 48px;
}


.border-b {
    border-bottom: 1px solid #EEEEEE;
}


/*改变输入框placeholder的颜色值*/
::-webkit-input-placeholder { /* WebKit browsers */
color: #CCCCCC; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #CCCCCC; }
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #CCCCCC; }
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #CCCCCC; }
input:focus::-webkit-input-placeholder{ color:#CCCCCC; }
